<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HeartCare"
        tools:targetApi="31">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
<!--                <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CreateNewPassword"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
                <!--                <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.VerifyEmail"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
                <!--                <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ForgotPassword"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
<!--                <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.Welcome"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
<!--                <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.HeartRateStatistics"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
<!--                <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CreateTodoActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
                <!--                <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MeasureHeartRate"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
                <!--                <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SelectLanguage"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SignIn"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
<!--                 <action android:name="android.intent.action.MAIN" />-->
                 <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignUp"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.HealthRecord"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
                <!--                 <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.EditHealthRecord"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar">
            <intent-filter>
                <!--                <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>